@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  height: 100%;
}

.Toastify * {
  font-family: "Outfit", sans-serif !important;
}
